$text-inputs: 'textarea, input[type=url], input[type=tel], input[type=text], input[type=email], input[type=number], input[type=password], input[type=search]';

$formBlue:  $boyblue;//#4392f9;
$steel:     darken($page-border, 25); // Blue-Gray
$caribbean: #65BA52; // Mint
$rusty:     #dd2f41; // Red
$alabaster: hsl(0, 0%, 79%); // Light Blue
$isabella:  #dde8eb; // Off-Cream
$duration: .2s;
$radius: 3px;

@mixin input-active {
  &:focus,
  &:hover:not([disabled]),
  &:active {
    @content;
  }
}

$input-weight-shadow: 0 2px 5px 0 rgba(#000, .2);
$empty-shadow: 0 0 0 transparent;

@function input-shadow($color: $alabaster, $size: 1px) {
  @return 0 0 0 $size $color inset, $empty-shadow;
}

@function input-focus-shadow($color: $steel) {
  @return 0 0 0 1px $color inset, $input-weight-shadow
}

$focus-shadow: input-focus-shadow();
$input-shadow: input-shadow();

*, *:before, *:after {
  transition-duration: .25s;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

form {
  width: 100%;

  &.max {
    max-width: 100%;
  }

}

label {
  display: flex;
  margin: 15px 0;
  font-size: 15px;
  flex-direction: column;
  position: relative;
  flex: 1 0 auto;

  .label-text {
    padding-bottom: 7px;
  }
  textarea {
    margin: 2px 0;
  }
}

.switch-label, .tick-label {
  pointer-events: none;
  * { pointer-events: all; }
}

label {
  // Bare text-based inputs
  + input,
  + select,
  + textarea {
    margin-top: -5px;
  }

  [type=checkbox], [type=radio] {
    position: absolute;
    border: none;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
  }
} 
.form-width {
  max-width: 700px;
}

.form-row {
  margin: .8em 0;
  &.split {
    margin-top: 1.3em;
    padding-top: .5em;
    border-top: 1px solid $page-border;
    box-shadow: #fff 0 1px inset;
  }
}

fieldset {
  border: 0;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

// All form fieldsets
.form-panel {
  width: 450px;
  margin: vr(2) auto;
  max-width: 100%;
  padding: vr(2);
  border-radius: $radius;
  background: $white;
  box-shadow: 0 0 25px rgba(0, 0, 0, .05), 0 0 0 1px $alabaster inset;

  > :first-child {
    padding-top: 0;
    margin-top: 0;
  }
}

// Fieldset legends
legend {
  font-size: 24px;
  font-weight: 300;
  //text-transform: uppercase;
  //letter-spacing: .02em;
  padding-top: 11px;
  /*box-shadow: 0 1px $alabaster;*/
  width: 100%;
  margin-bottom: 19px;
}

fieldset h2, legend.header {
  text-transform: none;
  letter-spacing: normal;
  justify-content: space-between;
  box-shadow: none;
  font-weight: 300;
  width: 100%;
  float: left;
  font-size: 24px;
  padding: vr(2) 0 0; // 30px
  margin: 0 0 vr(3); // 30px
  text-align: center;
  + * { clear: both; }
}

.inline-fields {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  // Remove top spacing from submit button
  > [type=submit] {
    margin-top: 0;
    align-self: stretch;
  }

  label + & {
    margin-top: -5px;
  }

  .label-text-wrapper {
    &:before           { top: vr(2/15); }
    .label-text:before { top: vr(3/5); }
  }

  /*> :not(:last-child) {*/
    /*padding-right: 15px;*/
  /*}*/
}

@mixin input-base {
  width: 100%;
  font-size: 16px;
  border: none;
  line-height: vr(2); // 30px
  padding: 9px 12px;
  border-radius: $radius;
  transition-property: box-shadow, border-color;
  appearance: none;
  box-shadow: $input-shadow;

  // Keep Chrome’s autofilled fields white
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $white inset;
  }

  &:disabled:not([type="submit"]) {
    color: $isabella;
    cursor: default;
  }
}

input, select, textarea {
  outline: 0;
  outline-style: none;
  border: none;

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

}

#{$text-inputs}, select, textarea {
  @include input-base;

  @include input-active {
    box-shadow: $focus-shadow;
  }
}

// Override default search styling
input[type=search] {
  &,
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
}

select {
  min-height: 50px;
  cursor: pointer;
  background: $white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 14'%3E%3Cpolygon fill='%237A7B7C' points='3.5,0 0,6 7,6'/%3E%3Cpolygon fill='%237A7B7C' points='3.5,14 0,8 7,8'/%3E%3C/svg%3E") calc(100% - 14px) 50% / 7px 14px no-repeat;
}

// Confine resizing of textareas
textarea {
  display: block;
  resize: vertical;
  margin-top: 10px;
  min-height: vr(8) + 5px;  // 125px;
}

// Bare inputs
:not(label) > {
  input,
  select,
  textarea {
    margin-bottom: 10px;
  }
}

::placeholder {
  opacity: 1;
  color: $alabaster;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
