$text-inputs: 'textarea, input[type=url], input[type=tel], input[type=text], input[type=email], input[type=number], input[type=password], input[type=search]';

$steel:     #58728a; // Blue-Gray
$caribbean: #65BA52; // Mint
$rusty:     #dd2f41; // Red
$alabaster: hsl(0, 0%, 79%); // Light Blue
$isabella:  #dde8eb; // Off-Cream
$duration: .2s;
$radius: 4px;

form {
  width: 100%;

  &.max {
    max-width: 100%;
  }

  fieldset {
    padding: 0;
    border: 0;
  }
}

label {
  font-size: 15px;
}

form, .form-width {
  max-width: 700px;
}

.form-row {
  margin: .8em 0;
  &.split {
    margin-top: 1.3em;
    padding-top: .5em;
    border-top: 1px solid $page-border;
    box-shadow: #fff 0 1px inset;
  }
}

%input-base {
  width: 100%;
  font-size: 16px;
  line-height: vr(2); // 30px
  padding: 9px 12px;
  border: 1px solid $alabaster;
  border-radius: $radius;
  transition: border-color $duration;
  appearance: none;
  box-shadow: transparent 0 0 0 2px inset;

  // Keep Chrome’s autofilled fields white
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $white inset;
  }

  &:hover,
  &:focus:not(select),
  &:focus:not(input[type=range]),
  &:active {
    border: 1px solid $steel;
    outline: 0;
  }

  // // Required styling
  // &:required + span:after {
  //   @extend %required-input;
  // }

  &:disabled:not([type="submit"]) {
    color: $isabella;
    cursor: default;
  }
}

#{$text-inputs}, select, textarea { @extend %input-base; }

// Override default search styling
input[type=search] {
  &,
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
}

select {
  min-height: 50px;
  cursor: pointer;
  background: $white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 14'%3E%3Cpolygon fill='%237A7B7C' points='3.5,0 0,6 7,6'/%3E%3Cpolygon fill='%237A7B7C' points='3.5,14 0,8 7,8'/%3E%3C/svg%3E") calc(100% - 14px) 50% / 7px 14px no-repeat;
}

// Confine resizing of textareas
textarea {
  display: block;
  resize: vertical;
  min-height: vr(8) + 5px;  // 125px;
}

// Bare inputs
:not(label) > {
  input,
  select,
  textarea {
    margin-bottom: 10px;
  }
}

::placeholder {
  opacity: 1;
  color: $alabaster;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
