.check-switch {
  $width: 70px;
  $height: 24px;
  $tick-width: $width/2 - 2;
  flex-direction: row;
  align-items: center;
  .label-text {
    margin-right: 10px;
    padding-bottom: 0;
    line-height: vr(1.5);
  }

  input {
    opacity: 0;
    position: absolute;
  }

  &-label {
    position: absolute;
    color: transparent;
    font-size: 0;
  }

  &-panel {
    width: $width;
    height: $height;
    background: $white;
    position: relative;

    border-radius: $radius + 2;
    transition-property: box-shadow, border-color;
    box-shadow: $input-shadow;
  }

  &-tick {
    width: $tick-width;
    height: $height - 4;
    background: rgba(#000, .08);
    position: absolute;
    bottom: 2px;
    left: 2px;
    border-radius: $radius;
    transition-property: background-color, transform;
    transform: translate3d( 0, 0, 0 );
    box-shadow: 0 0 0 1px $alabaster inset;
    font-weight: 500;

    &:before {
      content: "ON";
      left: 0;
      opacity: 0;
      color: $formBlue;
    }
    &:after {
      content: "OFF";
      right: -100%;
      opacity: 1;
      color: $steel;
    }
    &:before, &:after {
      display: block;
      font-size: 12px;
      line-height: $height - 2;
      position: absolute;
      width: 100%;
      text-align: center;
    }
  }

  input:checked + &-tick {
    background-color: $formBlue;
    transform: translate3d( $tick-width , 0, 0 );
    box-shadow: 0 0 0 1px darken($formBlue, 10) inset;

    &:before,&:after {
      transform: translate3d( -$tick-width , 0, 0 );
    }
    &:after { opacity: 0; }
    &:before { opacity: 1; }
  }
}

/*
.check-switch {

  display: inline-block;
  position: relative;

  border-radius: 1em;
  background-color: #fafafa;
  box-shadow: #fff 0 1px 1px, $lightgray 0 0 0 1px inset;
  width: 76px;
  font-weight: bold;
  line-height: 0;

  &:before, label:after {
    padding-top: 1px;
    line-height: 22px;
    font-size: 11px;
    display: inline-block;
    width: 50%;
    text-align: center;
    color: #888;
    text-shadow: #fff 0 1px;
    transition: color .2s ease-in-out;
  }

  &:before {
    content: "OFF";
    margin-right: 50%;
  }

  label:after {
    content: "ON";
    transform: translateX(100%);
  }

  label {
    text-align: left;
    color: transparent; font-size: 0;
    z-index: 1;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1;

    &:before {
      position: absolute;
      content: "";
      width: 50%;
      height: 100%;
      left: 0;
      border-radius: 15px;
      z-index: 1;
      background-color: rgba(#000, .06);
      background-image: linear-gradient(rgba(#fff, .4), rgba(#fff, 0) 80%);
      transition: .15s ease;
      transition-property: background-color transform;
      box-shadow: $lightgray 0 0 0 1px inset, rgba(#fff, .5) 0 1px inset;
    }
  }

  input {
    position: absolute;
    z-index: -100;
    opacity: 0;
    top: 0;
    left: 0;

    &:checked + label {
      &:before {
        transform: translateX(100%);
        background-color: rgba($boyblue, .1);
        box-shadow: rgba($boyblue, .3) 0 0 0 1px inset;
      }
      
      &:after {
        color: $boyblue;
      }
    }

    &:focus + label:before {
      box-shadow: $babyblue 0 0 0 1px inset, $babyblue 0 0 0 2px inset;
    }

    &:disabled {
      opacity: .2;
      &:checked + label {
        &:before {
          transform: translateX(100%);
          background-color: rgba($boyblue, .1);
          box-shadow: rgba($boyblue, .3) 0 0 0 1px inset;
        }
        
        &:after {
          color: $boyblue;
        }
      }

      &:focus + label:before {
        box-shadow: $babyblue 0 0 0 1px inset, $babyblue 0 0 0 2px inset;
      }
    }

  }

  input:disabled + label, input:checked:disabled + label {
    cursor: default;
    background: rgba(#fff, .5);
    box-shadow: #fff 0 1px 1px, $overcast 0 0 0 1px inset;
    &:after {
      color: rgba(#888, .5);
    }
    &:before {
      background: none;
      color: rgba(#888, .5);
      box-shadow: $lightgray 0 0 0 1px inset, rgba(#fff, .5) 0 1px inset;
    }
  }
}
*/
