// Remove default fieldset styles
fieldset {
  border: 0;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

// Fieldset legends
legend {
  font-size: 24px;
  font-weight: 300;
  //text-transform: uppercase;
  //letter-spacing: .02em;
  padding-top: 11px;
  box-shadow: 0 1px $alabaster;
  width: 100%;
  margin-bottom: 19px;
}


legend.header {
  text-transform: none;
  letter-spacing: normal;
  box-shadow: none;
  font-weight: 300;
  width: 100%;
  float: left;
  font-size: 24px;
  padding-top: vr(2); // 30px
  margin-bottom: vr(3); // 30px
  text-align: center;
}
