@mixin label-placeholder {
  // Scoped variables
  $font-size:  16px;
  $padding-x:  12px;
  $padding-y:   9px;
  $distance-y: -23px;
  $distance-x: 0;
  $scale:      .875;
  $height:     50px;
  $duration: .2s;

  // Input labels
  label.placeholder-label {

    padding-top: 0;
    line-height: vr(2);
    background: $white;
    font-size: $font-size;

    // Nested text-based inputs
    > input,
    > textarea {
      margin-top: 5px;
    }

    // Hide input placeholder text
    ::placeholder {
      opacity: 0;
      color: transparent;
    }

    // Default active color
    :not(.valid):not(.invalid) > {
      textarea, input {
        &:focus + span,
        &:active + span {
          color: $steel;
        }
      }
    }
    
    // Inputs
    textarea, input {
      z-index: 1;
      margin: 0;
      font-size: inherit;
      background: transparent;
      padding: $padding-y $padding-x;

      // Move labels out of the way on focus and empty
      &:focus + .placeholder-label-text, 
      &:not(.empty) + .placeholder-label-text, {
        z-index: 2;
        transform: translate3d($distance-x, $distance-y, 0) scale($scale);
        color: darken($steel, 10);
      }
    }

    &.valid, &.invalid {
      textarea, input {
        + .placeholder-label-text {
          color: inherit;
        }
      }
    }

    input {
      line-height: inherit;
    }
    textarea {
      padding-top: $padding-y + 4;
    }
  }

  // Faux-placeholder labels
  .placeholder-label-text {
    pointer-events: none;
    font-size: inherit;
    line-height: 1.2em;
    position: absolute;
    top: $padding-y + 5px;
    left: $padding-x;
    padding: 1px 0 0 1px;
    transform-origin: left top 0;
    will-change: transform;
    -webkit-filter: blur(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    color: $alabaster;
    transform: translate3d(0, 0, 0) scale(1);
    transition-property: color, transform;
    background: $white;
    box-shadow: -6px 0 $white, 6px 0 $white;
  }
}

@include label-placeholder;
