.section {
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  max-width: 1200px;
  margin: vr(1.5) auto vr(1.5);

  @include at-least($medium) {
    display: flex;
  }

  + .section {
    margin-top: 0;
    padding-top: vr(1.5);

    &:before {
      content: "";
      position: absolute;
      top: 0; left: 0; right: 0;
      border-top: 1px solid $page-border;
      box-shadow: 0 1px 0 #fff;
    }
  }

  h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
  }

  &-info, &-content {
    @include at-least($medium) {
      padding: 0 vr(1.5);
    }
  }
  
  &-info {
    flex: 1 0 100px;
  }

  &-content {
    flex: 2 1 120px;
  }

  &-heading { 
    padding: vr(1.5) vr(1.5) 0;
    &:last-child {
      padding-bottom: vr(1.5);
    }
  }

  &-description {
    padding: 0 vr(1.5) vr(1.5);
    > :last-child { margin-bottom: 0 }
  }

  &-card {
    max-width: 100%;
    padding: 0;
    background: $white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
    
    @include at-least($medium) {
      border-radius: $radius;
    }

    > *:not(hr) {
      padding: vr(1.5);
      > :first-child { margin-top: 0; }
      > :last-child { margin-bottom: 0; }
    }

    hr {
      margin: 0;
    }
  }

  .card-footer {
    padding-top: 0;
  }

  .card-title {
    padding-bottom: 0;
  }

  &-card + &-card {
    margin-top: vr(1.5);
  }

  &-description {
    padding: vr(1.5);
    > :first-child {
      margin-top: 0;
    }
  }
}




.form-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 -5px;

  > * {
    padding: 0 5px;
  }
}

.wide-cell {
  flex: 1 0 auto;
  @include until($small) {
    width: 100%;
  }
}

.button-cell {
  display: flex;
  flex-direction: row-reverse;

  @include until($medium) {
    width: 100%;
  }

  @include until($small) {
    a.button, button {
      width: 100%;
    }
  }
}

label {
  display: flex;
  font-size: 15px;
  flex-direction: column;
  position: relative;
  flex: 1 0 auto;
  margin: 15px 0;

  .label-text {
    padding-bottom: 7px;
  }
  select, input, textarea {
    margin: 0px;
  }
}


.form-width {
  max-width: 700px;
}

/*.form-row {*/
  /*margin: .8em 0;*/
  /*&.split {*/
    /*margin-top: 1.3em;*/
    /*padding-top: .5em;*/
    /*border-top: 1px solid $page-border;*/
    /*box-shadow: #fff 0 1px inset;*/
  /*}*/
/*}*/

.form-well {
  box-shadow: input-shadow();
  border-radius: $radius;
  position: relative;
  padding: vr(2);
  margin: 15px 0;
  background: rgba(#000, .02);

  .toggle-row:first-child {
    justify-content: space-around;
    margin: 0;
    position: absolute;
    width: 100%;
    top: -12px;
    left: 0;
  }
}

.form-footer {
  display: flex;
  flex-direction: row-reverse;
  margin: 15px -5px $block-margin;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 5px; right: 5px;
    top: 0;
    border-top: 1px solid $page-border;
  }
}

.inline-fields {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  // Remove top spacing from submit button
  > [type=submit] {
    margin-top: 0;
    align-self: stretch;
  }

  label + & {
    margin-top: -5px;
  }

  .label-text-wrapper {
    &:before           { top: vr(2/15); }
    .label-text:before { top: vr(3/5); }
  }
}
