form.progressive {
  margin: 0 auto;
}

$fade-distance: 40px;
fieldset.form-step {

  // Transition to form step
  &.enter[data-direction=forward] { animation: fade-in-right .2s forwards; }
  &.enter[data-direction=reverse] { animation: fade-in-left .2s forwards; }

  // Transition away from form step
  &.exit[data-direction=forward] { animation: fade-out-left .2s forwards; }
  &.exit[data-direction=reverse] { animation: fade-out-right .2s forwards; }
  
}

.form-step {
  will-change: transform;
  -webkit-filter: blur(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

.progressive-form-nav {
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  margin-bottom: 1em;
  line-height: 2em;
}

.progressive-form-nav-item {
  margin: 5px 10px;
  opacity: .4;
  cursor: default;
  text-decoration: none;

  background: transparent linear-gradient(rgba($link-color, .6), rgba($link-color, .6)) 50% 90%/0px 1px no-repeat;
  transition: background .1s ease, color .15s ease, opacity .15 ease;

  &,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $link-color;
  }

  &.previous { opacity: .8; }
  &.next     { cursor: default; }

  &.previous, &.completed, .completed + & {
    cursor: pointer;
    &:hover { opacity: 1; }
  }

  &.here {
    opacity: 1;
    background: transparent linear-gradient(rgba($link-color, .6), rgba($link-color, .6)) 50% 90%/100% 1px no-repeat;
  }

  &:active {
    transform: scale(.97, .97);
  }
}


// Transition to form step
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: perspective(1px) translate3d($fade-distance, 0, 0);
  }

  100% {
    opacity: 1;
    transform: perspective(1px) translate3d(0, 0, 0);
  }
}

// Transition away from form step
@keyframes fade-out-left {
  0% {
    opacity: 1;
    transform: perspective(1px) translate3d(0, 0, 0);
  }

  99% {
    opacity: 0;
    transform: perspective(1px) translate3d(-$fade-distance, 0, 0);
  }

  100% {
    opacity: 0;
    transform: perspective(1px) translate3d(-9999px, 0, 0);
  }
}

// Transition away from form step
@keyframes fade-out-right {
  0% {
    opacity: 1;
    transform: perspective(1px) translate3d(0, 0, 0);
  }

  99% {
    opacity: 0;
    transform: perspective(1px) translate3d($fade-distance, 0, 0);
  }

  100% {
    opacity: 0;
    transform: perspective(1px) translate3d(9999px, 0, 0);
  }
}
// Return to previous form step
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: perspective(1px) translate3d(-$fade-distance, 0, 0);
  }

  100% {
    opacity: 1;
    transform: perspective(1px) translate3d(0, 0, 0);
  }
}
