// Apply validation styles to inputs & textareas
label.valid {
  color: $caribbean;

  input, select, textarea {
    color: currentColor;
    -webkit-text-fill-color: currentColor;
    box-shadow: input-shadow( $caribbean );

    @include input-active {
      box-shadow: input-focus-shadow( $caribbean )
    }
  }
}

label.invalid {
  color: $rusty;

  input, select, textarea {
    color: currentColor;
    -webkit-text-fill-color: currentColor;
    box-shadow: input-shadow( $rusty );

    @include input-active {
      box-shadow: input-focus-shadow( $rusty )
    }
  }
}

// Validation message animation declaration
@keyframes scale-fade-in {
  0% {
    opacity: 0;
    transform: translate(-50%, -6px) scale(.5);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 6px) scale(1);
  }
}

// Inline validation messages
.validation-message {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 325px;
  max-width: 100vw;
  z-index: 3;
  text-align: center;
  transform: translate(-50%, 6px) scale(1);
  transform-origin: center top;
  animation: scale-fade-in $duration ease-out;

  // Message bubble (also a hack to maintain proper word wrap)
  p {
    display: inline-block;
    margin: 0;
    padding: 12px 18px;
    border-radius: $radius;
    background: $rusty;
    color: $white;
    font-size: 14px;
    line-height: 21px;

    // Message bubble triangle
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -6px;
      bottom: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 6px 6px;
      border-color: transparent transparent $rusty transparent;
    }
  }
}
